.container-fluid, .row {
    height: 100%;
}

.form-login {
    text-align: center;
    width: 300px;
}

.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form-login button {
    margin-top: 10px;
}